<div class = "text-center mt-2 none" id = "engel_account">
    <p class = "balloon1-top">
      <strong>エンゲル係数とは、家計の総支出に対する食の支出の割合を示す値</strong>のことです。
      <br/>20以下は上流、25はゆとりのある生活、30はややゆとりのある生活、50はやっと生活できる状態とされています。
      <br/>エンゲル係数（％）＝（食料費／家計の総支出）×100
    </p>
</div>