<% provide(:title, "ユーザー情報編集 / AccountsKeeper") %>
<div class = "text-center mt-3 offset-4">
  <div class = "col-md-6">
    <%= bootstrap_form_with(model: @user,local:true  , inline_errors: true) do |f| %>
        <h2>ユーザー情報を変更する</h2> 
        <div id = "edit-error"></div>
        <%= f.text_field :name %>
        <%= f.email_field :email  %>
        <%= f.submit class: "btn btn-primary" %>
    <% end  %>
  </div>
</div>