<% provide(:title, "Accounts Keeper") %>
<div id = "top-wrapper">
   <div class = "bg">
      <div class = "text-center" id = "top-title" >
        <h1>AccountsKeeper</h1>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
        <div class = "mt-4">
           <%= link_to "Googleで登録/ログインする",user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger"  %>
        </div>
        <p class = "text-white">利用規約、プライバシーポリシーに同意の元ご利用ください</p>
      </div>
    </div> 
</div>
<div id = "about-wrapper">
  <div class = "section-title">
     <h2 class = "text-center">Accounts Keeperとは</h2>
     <div id = "about-text" class = "text-center container">
        <p>
          Account Keeperは日頃のお金の流れを把握しやすくする家計簿アプリケーションです。<br/>
          実際に買われた商品のレビューを投稿、閲覧することができます。
        </p>
     </div>
  </div>
</div>