<div class = "nested-fields product-count">
  <div class = "field">
    <%= f.text_field :name %>
    <%= f.number_field :price %>
  </div>
  <%= link_to_remove_association "商品情報を削除する", f %>
</div>



