<div class = "nested-fields product-count">
  <div class = "field">
    <%= f.text_field :name , required: true %>
    <%= f.number_field :price , required: true %>
  </div>
   <%= link_to_remove_association "商品情報を削除する", f %>
</div>



