<h1>今月の設定金額を超えました。</h1>

<table border = "1">
  <thead>
    <tr>
      <th>今月の設定金額</th>
      <th>今月の使用金額</th>
    </tr>
  </thead>
  <tbody>
      <td><%= @estimate_amount.price %>円</td>
      <td><%= @sum_price %>円</td>
  </tbody>
</table>
