%footer.mt-4
  %ul.nav.justify-content-center
    %li.nav-item= mail_to "s.takaya1027@gmail.com", "お問い合わせ", class: "nav-link"
    %li.nav-item
      = link_to "Github","https://github.com/TakayaSugiyama/accounts_keepr", class: "nav-link"
    %li.nav-item= link_to "利用規約", services_path , class: "nav-link"
    %li.nav-item= link_to "プライバシーポリシー", privacys_path , class: "nav-link"
  %p.text-center
    %small Copy right©TakayaSugiyama, All Rights Reserved.
