<footer class = "mt-4">
  <ul class = "nav justify-content-center">
    <li class = "nav-item"><%= mail_to "s.takaya1027@gmail.com", "お問い合わせ", class: "nav-link" %></li>
    <li class = "nav-item"><%= link_to "Github","https://github.com/TakayaSugiyama/accounts_keepr", class: "nav-link" %> </li>
    <li class = "nav-item"><%= link_to "利用規約", services_path , class: "nav-link"%></li>
    <li class = "nav-item"><%= link_to "プライバシーポリシー", privacys_path , class: "nav-link"%></li>
 </ul>
 <p class = "text-center"><small>Copy right&copy;TakayaSugiyama, All Rights Reserved. </small></p>
</footer>