<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "AccountsKeeper", root_path, class: "navbar-brand", id: "application-title" %> 
  <ul class="navbar-nav mr-auto justify-content-end">
      <%= render header_menu_path %>
  </ul>
</nav>