<li>
  <%= link_to "家計簿を登録する", new_record_path , class: "nav-link"%>
</li>
<li>
   <%= link_to "Reviews", reviews_path , class: "nav-link" %>
</li>
<li>
   <%= link_to "ユーザー情報編集", edit_user_registration_path, class: "nav-link" %>
</li>
<li>
   <%= link_to "ログアウト",destroy_user_session_path , method: :delete , class: "nav-link" %>
</li>