<li class = "nav-link"><%= link_to "ユーザー情報編集", edit_user_registration_path, class: "nav-link"%></li>
<li class = "nav-link"><%= link_to "ログアウト",destroy_user_session_path , method: :delete , class: "nav-link" %></li>