- if user_signed_in?
  = link_to "AccountsKeeper", current_user, class: "h2 header-title", id: "application-title"
- else
  = link_to "AccountsKeeper", root_path, class: "h2 header-title", id: "application-title"
